In [1]:
import os 
import sys
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath(os.path.join('..', '..')))

from services.pandas.pandas_service import PandasService
from services.database.database_service import Environment
from models.profile.profile_model import ProfileCollection

In [2]:
env_instance = Environment().get_instance()
pd_services = PandasService()
db = env_instance.get_db()

2024-05-07 21:32:45,064 INFO root : Environment: started: access database

In [10]:
token_collection = db.get_collection("TokenCollection")
user_collection = db.get_collection('UserCollection')
sent_collection = db.get_collection("SentimentCollection")
follow_collection = db.get_collection('FollowsCollection')

In [4]:
profile = {}

In [5]:
show_columns = ['_id', 'email', 'name_id', 'profile_public', 'genre', 'phone', 'created_at', 'updated_at']
# dateparse = lambda x: datetime.strptime(x, '%Y/%m/%d %H:%M:%f.0000')

df_users = pd.DataFrame.from_records(user_collection.find(), columns=show_columns)
df_users

,_id,email,name_id,profile_public,genre,phone,created_at,updated_at
0,64f74f6e54d0ba6c4b532786,kakashi.kisura7@gmail.com,kakashi@daily,True,M,5.511942e+12,2023-09-05 12:55:25.008,2024-04-19 00:57:00.723
1,65ae90883470eb010f5f1104,roberto.rosa7@gmail.com,beto@daily,True,M,5.511942e+12,2024-01-22 12:58:00.736,2024-05-07 19:10:01.134
2,661f2d5e30ee4c696a1d15fd,root@gmail.com,root@daily,True,M,5.511942e+12,2024-04-17 02:01:02.908,2024-05-04 18:44:42.291
3,6621effacf09c02f9a9590d9,amanda@gmail.com,am@daily,True,NaN,NaN,2024-04-19 04:15:54.348,2024-04-19 04:15:54.348
4,663a8f8ddca08f4513232d7a,victorsalome41@hotmail.com,Victorss@daily,True,NaN,NaN,2024-05-07 20:31:09.011,2024-05-07 20:31:09.011

In [ ]:
df_users.info()

In [5]:
sents_columns = ['created_at', 'text', 'score_positive', 'score_negative', 'sentiment', '_id', 'what_happen_id', 'user_id', ]
df_sents = pd.DataFrame.from_records(sent_collection.find(),  columns=sents_columns)
df_sents.head()

,created_at,text,score_positive,score_negative,sentiment,_id,what_happen_id,user_id
0,2024-03-23 00:56:03.696,retomando aplicativo de diário,0.504341,0.495659,positive,65fe52d3aa58ed17295fa3d7,65fe52d3aa58ed17295fa3d6,65ae90883470eb010f5f1104
1,2024-03-23 08:37:46.714,Café da manhã no point dos amigos - rotina diá...,0.674941,0.325059,positive,65febf0aaa58ed17295fa3fb,65febf0aaa58ed17295fa3fa,65ae90883470eb010f5f1104
2,2024-03-23 11:55:57.605,tedsy,0.500758,0.499242,positive,65feed7daa58ed17295fa4bf,65feed7daa58ed17295fa4be,65ae90883470eb010f5f1104
3,2024-03-23 13:54:17.095,feito teste com tablet - sucesso,0.597084,0.402916,positive,65ff0939aa58ed17295fa509,65ff0938aa58ed17295fa508,65ae90883470eb010f5f1104
4,2024-03-23 16:32:58.342,mais um Dev fazendo coisa errada no projeto,0.214928,0.785072,negative,65ff2e6a2306ca0842f7cfff,65ff2e692306ca0842f7cffe,65ae90883470eb010f5f1104

In [6]:
# df_users['created_at'] = pd.to_datetime(df_users['created_at'], format = '%Y-%m-%d %H:%M:%S.%f.000')
# df_users['updated_at'] = pd.to_datetime(df_users['updated_at'], format = '%Y-%m-%d %H:%M:%S.%f.000')
df_users

,_id,email,name_id,profile_public,genre,phone,created_at,updated_at
0,64f74f6e54d0ba6c4b532786,kakashi.kisura7@gmail.com,None,None,NaN,NaN,2023-09-05 12:55:25.008,NaT
1,65ae90883470eb010f5f1104,roberto.rosa7@gmail.com,NaN,None,NaN,NaN,2024-01-22 12:58:00.736,NaT
2,661f2d5e30ee4c696a1d15fd,root@gmail.com,root@daily,True,M,5511941616008,2024-04-17 02:01:02.908,2024-04-16 23:01:42.781

In [ ]:
df_sents.info()

In [ ]:
# df_sents.query("user_id == '65ae90883470eb010f5f1104'")
df_sents.query("sentiment == 'positive'").shape[0]

In [9]:
df_sents = pd.DataFrame.from_records(sent_collection.find({'user_id': '661f2d5e30ee4c696a1d15fd'}),  columns=sents_columns)
df_sents.head()

,created_at,text,score_positive,score_negative,sentiment,_id,what_happen_id,user_id
0,2024-04-17 22:37:25.805,tive um péssimo dia,0.518169,0.481831,positive,6620795592def26041d37251,6620795592def26041d37250,661f2d5e30ee4c696a1d15fd
1,2024-04-17 23:29:44.869,minha mãe está internada de novo,0.598994,0.401006,positive,66208598836c3c8565474de4,66208598836c3c8565474de3,661f2d5e30ee4c696a1d15fd
2,2024-04-18 00:05:07.202,minha mãe está internada de novo - foda!,0.598378,0.401622,positive,66208de37b852a12bbe1b312,66208de37b852a12bbe1b311,661f2d5e30ee4c696a1d15fd

https://konfuzio.com/en/nan-python-circumvent-with-nan-values-in-python/

In [20]:
name = 'sentiment'

profile['total_registers'] = df_sents.value_counts().count()
profile['total_positive'] = df_sents.query(f"{name} == 'positive'").value_counts().count()
profile['total_negative'] = df_sents.query(f"{name} == 'negative'").value_counts().count()
profile['total_score_negative'] = df_sents['score_negative'].sum()
profile['total_score_positive'] = df_sents['score_positive'].sum()
profile['mean_feeling'] = df_sents[name].value_counts().mean()
profile['std_feeling'] = 0 if np.isnan(df_sents[name].value_counts().std()) else df_sents[name].value_counts().std() 
profile['chart'] = df_sents[name].value_counts().map(lambda x: (x / df_sents.value_counts().count()) * 100).to_dict()
profile

{'total_registers': 3,
 'total_positive': 3,
 'total_negative': 0,
 'total_score_negative': 1.2844587414281632,
 'total_score_positive': 1.715541258571837,
 'mean_feeling': 3.0,
 'std_feeling': 0,
 'chart': {'positive': 100.0}}

In [19]:
profile = vars((ProfileCollection()
 .set_chart(df_sents[name].value_counts().map(lambda x: (x / df_sents.value_counts().count()) * 100).to_dict())
 .set_std_feeling(0 if np.isnan(df_sents[name].value_counts().std()) else df_sents[name].value_counts().std())
 .set_mean_feeling(df_sents[name].value_counts().mean())
 .set_total_score_negetive(df_sents['score_negative'].sum())
 .set_total_score_positive(df_sents['score_positive'].sum())
 .set_total_negative(df_sents.query(f"{name} == 'negative'").value_counts().count())
 .set_total_positive(df_sents.query(f"{name} == 'positive'").value_counts().count())
 .set_total_registers(df_sents.value_counts().count())))

profile

{'total_registers': 3,
 'total_positive': 3,
 'total_negative': 0,
 'total_score_negative': 1.2844587414281632,
 'total_score_positive': 1.715541258571837,
 'mean_feeling': 3.0,
 'std_feeling': 0,
 'chart': {'positive': 100.0}}

In [18]:
list(follow_collection.find())

[{'_id': ObjectId('663aa795dca08f4513232d80'),
  'user_id': '65ae90883470eb010f5f1104',
  'following_id': '64f74f6e54d0ba6c4b532786',
  'created_at': datetime.datetime(2024, 5, 7, 22, 13, 41, 498000),
  '_class': 'innovatenet.com.br.document.FollowsDocument'},
 {'_id': ObjectId('663acb10dca08f4513232d86'),
  'user_id': '64f74f6e54d0ba6c4b532786',
  'following_id': '65ae90883470eb010f5f1104',
  'created_at': datetime.datetime(2024, 5, 8, 0, 45, 4, 877000),
  '_class': 'innovatenet.com.br.document.FollowsDocument'},
 {'_id': ObjectId('663acb7cdca08f4513232d87'),
  'user_id': '661f2d5e30ee4c696a1d15fd',
  'following_id': '65ae90883470eb010f5f1104',
  'created_at': datetime.datetime(2024, 5, 8, 0, 46, 52, 815000),
  '_class': 'innovatenet.com.br.document.FollowsDocument'}]

In [28]:
list(follow_collection.aggregate([
    {"$group": {"_id": "$name", "data": { "$first": "$$ROOT"},
                "following": { "$sum": {"$cond": [{"$eq": ["$$ROOT.user_id",'65ae90883470eb010f5f1104']},1,0]}},
                "followers": {"$sum": {"$cond": [{"$eq": ["$$ROOT.following_id",'65ae90883470eb010f5f1104']},1,0]}}}},
    {"$project": {"total_following": "$following","total_followers": "$followers"}},
    {'$unset': ['_id']}]))

[{'total_following': 1, 'total_followers': 2}]

In [27]:
list(follow_collection.find({"following_id": "65ae90883470eb010f5f1104"}))

[{'_id': ObjectId('663acb10dca08f4513232d86'),
  'user_id': '64f74f6e54d0ba6c4b532786',
  'following_id': '65ae90883470eb010f5f1104',
  'created_at': datetime.datetime(2024, 5, 8, 0, 45, 4, 877000),
  '_class': 'innovatenet.com.br.document.FollowsDocument'},
 {'_id': ObjectId('663acb7cdca08f4513232d87'),
  'user_id': '661f2d5e30ee4c696a1d15fd',
  'following_id': '65ae90883470eb010f5f1104',
  'created_at': datetime.datetime(2024, 5, 8, 0, 46, 52, 815000),
  '_class': 'innovatenet.com.br.document.FollowsDocument'}]