In [1]:
import os, sys
import pandas as pd
import json
import csv
from unicodedata import normalize
from urllib import request
from datetime import datetime

sys.path.append(os.path.abspath(os.path.join('..')))

In [3]:
from services.version_service import VersionService
from keys.client_key import ClientKey as key
ver_service = VersionService()

In [4]:
STORAGE = os.path.join('..', 'storage')

In [5]:
FILENAME_TB_CLIENT = ver_service.get_last_version(key.FILENAME_TB_CLIENT, key.EXT_CSV, STORAGE)

In [6]:
df_client = pd.read_csv(os.path.join(STORAGE, FILENAME_TB_CLIENT), sep=',', encoding='utf-8', low_memory=False, dtype=str)

In [7]:
df_client.shape

(563633, 8)

In [8]:
df_client.head()

,ID,CPF,NAME,CELL_PHONE,EMAIL,PENUMPER,CREATE_DATE,UPDATE_DATE
0,1782,14800087708,João Carlos da Silva adriao,11952901445,nathalia.nunes@prservicos.com.br,NaN,NaN,NaN
1,1783,17838922771,Ana kecya freire de Andrade,11952901445,nathalia.nunes@prservicos.com.br,NaN,NaN,NaN
2,1785,85963169577,Ismael Dias de Araújo,11981016089,josanesouza7@gmail.com,NaN,NaN,2022-08-04 15:33:04.291
3,1786,17232470738,Amanda Ferreira de Lima,11952901445,nathalia.nunes@prservicos.com.br,NaN,NaN,NaN
4,1787,12648131981,milena,11952901445,nathalia.nunes@prservicos.com.br,NaN,NaN,NaN

In [11]:
df_client['CPF'].value_counts()

CPF
19258717970    2
78059270907    2
66422478410    2
42570966592    2
14800087708    1
              ..
00175429       1
00175428       1
00175427       1
00175426       1
76748378400    1
Name: count, Length: 563629, dtype: int64